@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('swiper/swiper-bundle.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  background-color: white;
}

/* Tailwind ile kayan çizgi hover animasyonu */
.group:hover .hover-slide-animation::after {
  transform: scaleX(1);
}

.hover-slide-animation::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1c7d50;
  /* Çizgi rengi */
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked~label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked~.dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked~.box span {
    @apply opacity-100;
  }
}

body {
  transition-property: opacity, background-color, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background-color: black;
  transform: translateY(40px);
  filter: blur(12px);
}